@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

path,
line {
  shape-rendering: geometricPrecision; }

html {
  font-size: 10px; }

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #f5f6fa;
  color: #2f3640; }

.hidden {
  overflow: hidden; }

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0vw;
  top: 0vh;
  transform: translateX(-9999px);
  background-color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 0;
  transition: all 1s ease-in-out; }
  .overlay p:nth-child(1) {
    margin-bottom: 2rem; }
  .overlay p:nth-child(2) {
    color: #999999;
    opacity: 0.5; }
  .overlay.show {
    transform: translateX(0);
    opacity: 1; }

.chart {
  width: 100rem;
  margin: 0 auto;
  position: relative; }

.wrapper {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .wrapper #title {
    font-size: 4.8rem;
    text-align: center; }
  .wrapper #info {
    text-align: right;
    font-size: 2.4rem;
    max-width: 60%; }

.target {
  margin-top: 10rem; }
  .target--header {
    display: inline-block;
    font-size: 2.6rem;
    border-top: 1px solid #353b48;
    padding-top: 1rem; }
  .target--description {
    margin-top: 2.5rem;
    font-size: 1.8rem;
    text-align: right;
    max-width: 70%;
    margin-left: auto; }
  .target--chart {
    position: relative; }
    .target--chart--tooltip {
      color: #fff;
      position: absolute;
      left: -9999px;
      pointer-events: none;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      padding: 1rem;
      border-radius: 5px;
      background-color: #222;
      text-align: center;
      transition: none; }
      .target--chart--tooltip::after {
        content: "";
        position: absolute;
        border-width: 10px;
        border-style: solid; }

#firstT .target--chart {
  height: 165rem; }
  #firstT .target--chart svg {
    margin-top: 2.5rem; }

#firstT .target--chart--tooltip {
  font-size: 1.6rem; }
  #firstT .target--chart--tooltip::after {
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-color: transparent #222 transparent transparent; }
  #firstT .target--chart--tooltip__p p {
    display: flex;
    align-items: center; }
    #firstT .target--chart--tooltip__p p:not(:last-of-type) {
      margin-bottom: .5rem; }
    #firstT .target--chart--tooltip__p p:nth-of-type(1) .target--chart--tooltip__p--circle {
      background-color: #c6dbef; }
    #firstT .target--chart--tooltip__p p:nth-of-type(2) .target--chart--tooltip__p--circle {
      background-color: #6baed6; }
    #firstT .target--chart--tooltip__p p:nth-of-type(3) .target--chart--tooltip__p--circle {
      background-color: #2171b5; }
    #firstT .target--chart--tooltip__p p:nth-of-type(4) .target--chart--tooltip__p--circle {
      background-color: #08306b; }
    #firstT .target--chart--tooltip__p p:nth-of-type(5) .target--chart--tooltip__p--circle {
      background-color: green; }
  #firstT .target--chart--tooltip__p--circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem; }
  #firstT .target--chart--tooltip__p--value {
    margin-left: 1rem; }

#secondT .target--chart {
  height: 220rem; }
  #secondT .target--chart--tooltip {
    font-size: 1.5rem; }
    #secondT .target--chart--tooltip::after {
      top: 50%;
      right: 100%;
      margin-top: -10px;
      border-color: transparent #222 transparent transparent; }
    #secondT .target--chart--tooltip__p p {
      display: flex;
      align-items: center; }
  #secondT .target--chart svg {
    margin-top: 2.5rem; }

#secondT .active {
  fill: #16a085; }

#thirdT .target--chart {
  padding-top: 2.5rem;
  height: 140rem; }
  #thirdT .target--chart #climateMap {
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5rem; }
    #thirdT .target--chart #climateMap--options {
      position: absolute; }
    #thirdT .target--chart #climateMap .target--chart--tooltip {
      font-size: 1.4rem; }
      #thirdT .target--chart #climateMap .target--chart--tooltip::after {
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-color: #222 transparent transparent transparent; }
      #thirdT .target--chart #climateMap .target--chart--tooltip__h {
        margin-bottom: 1rem; }
      #thirdT .target--chart #climateMap .target--chart--tooltip__p {
        display: flex; }
        #thirdT .target--chart #climateMap .target--chart--tooltip__p p:first-of-type {
          margin-bottom: 1rem;
          font-weight: bold; }
        #thirdT .target--chart #climateMap .target--chart--tooltip__p:nth-of-type(2) {
          margin-top: 2rem; }
      #thirdT .target--chart #climateMap .target--chart--tooltip .group {
        display: flex;
        flex-direction: column; }
        #thirdT .target--chart #climateMap .target--chart--tooltip .group p {
          max-width: 12rem; }
        #thirdT .target--chart #climateMap .target--chart--tooltip .group:first-of-type {
          margin-right: 2rem; }
  #thirdT .target--chart #climateBubbles {
    width: 100%;
    height: 75rem;
    position: relative; }
    #thirdT .target--chart #climateBubbles--options {
      position: absolute; }
    #thirdT .target--chart #climateBubbles circle.active {
      stroke: #333;
      stroke-opacity: .6; }
    #thirdT .target--chart #climateBubbles .target--chart--tooltip {
      font-size: 1.4rem;
      max-width: 16rem; }
      #thirdT .target--chart #climateBubbles .target--chart--tooltip::after {
        display: none; }
      #thirdT .target--chart #climateBubbles .target--chart--tooltip span#val,
      #thirdT .target--chart #climateBubbles .target--chart--tooltip span#year {
        font-size: 1.6rem;
        font-weight: bold; }

#fourthT .target--chart {
  padding-top: 2.5rem;
  height: 140rem; }
  #fourthT .target--chart #educationMap {
    height: 70rem;
    position: relative; }
    #fourthT .target--chart #educationMap .target--chart--tooltip {
      font-size: 1.4rem;
      max-width: 20rem; }
      #fourthT .target--chart #educationMap .target--chart--tooltip::after {
        top: 50%;
        right: 100%;
        margin-top: -10px;
        border-color: transparent #222 transparent transparent; }
      #fourthT .target--chart #educationMap .target--chart--tooltip__h {
        margin-bottom: 1rem; }
      #fourthT .target--chart #educationMap .target--chart--tooltip__p p span#year,
      #fourthT .target--chart #educationMap .target--chart--tooltip__p p span#val {
        font-weight: bold; }
  #fourthT .target--chart #educationChart {
    height: 70rem;
    position: relative; }
    #fourthT .target--chart #educationChart .target--chart--tooltip {
      font-size: 1.4rem; }
      #fourthT .target--chart #educationChart .target--chart--tooltip::after {
        display: none; }
  #fourthT .target--chart g.countries path.active {
    fill: #16a085 !important; }
  #fourthT .target--chart g.barGroup path.active {
    fill: #16a085 !important; }

#fifthT {
  margin-bottom: 10rem; }
  #fifthT .target--chart {
    padding-top: 2.5rem;
    height: 120rem; }
    #fifthT .target--chart--tooltip {
      font-size: 1.4rem; }
      #fifthT .target--chart--tooltip::after {
        display: none; }
